@import "tailwindcss";

@theme {
  --color-pink-soft: #fbcfe8;
  --color-rose-glow: #fda4af;
  --animate-ripple: ripple 1.5s infinite ease-out;
  --animate-float: float 6s infinite ease-in-out;
}

@keyframes ripple {
  0% { transform: scale(1); opacity: 0.8; }
  100% { transform: scale(1.6); opacity: 0; }
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

body {
  background-color: black !important;
  touch-action: none; 
}